# Car_Price_Prediction_Project :-  Flip Robo Technologies   |   

# Internship Batch No-31


#### Submitted by: Tamali Saha (tamali428@gmail.com)

## Problem Statement:

With the covid 19 impact in the market, we have seen lot of changes in the car market. Now some 
cars are in demand hence making them costly and some are not in demand hence cheaper. One 
of our clients works with small traders, who sell used cars. With the change in market due to covid 
19 impact, our client is facing problems with their previous car price valuation machine learning 
models. So, they are looking for new machine learning models from new data. We have to make 
car price valuation model. This project contains two phase
### Data Collection Phase:
You have to scrape at least 5000 used cars data. You can scrape more data as well, it’s up to you. 
more the data better the model
In this section You need to scrape the data of used cars from websites (Olx, cardekho, Cars24 
etc.) You need web scraping for this. You have to fetch data for different locations. The number of
columns for data doesn’t have limit, it’s up to you and your creativity. Generally, these columns are 
Brand, model, variant, manufacturing year, driven kilometers, fuel, number of owners, location and 
at last target variable Price of the car. This data is to give you a hint about important variables in 
used car model. You can make changes to it, you can add or you can remove some columns, it 
completely depends on the website from which you are fetching the data.
Try to include all types of cars in your data for example- SUV, Sedans, Coupe, minivan, 
Hatchback.

**Note – The data which you are collecting is important to us. Kindly don’t share it on any public platforms.**
### Model Building Phase
After collecting the data, you need to build a machine learning model. Before model building do all 
data pre-processing steps. Try different models with different hyper parameters and select the best 
model.
Follow the complete life cycle of data science. Include all the steps like.
1. Data Cleaning
2. Exploratory Data Analysis
3. Data Pre-processing
4. Model Building
5. Model Evaluation
6. Selecting the best model

### Import Necessary libraries:

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
import requests
from time import sleep

### From Cardekho.com:
#### Used car in Ahmedabad:

In [25]:
#First connect to the driver

driver= webdriver.Chrome("chromedriver.exe")

#open the page in automated chrome browser

driver.get("https://www.cardekho.com/used-cars+in+ahmedabad")
time.sleep(2)

In [26]:
from tqdm import tqdm
for _ in tqdm(range(0,200)):
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,1000)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|██████████| 200/200 [10:00<00:00,  3.00s/it]

In [27]:
url_ahmedabad = []
url_ahm = driver.find_elements(By.XPATH,'//div[@class="titlebox hover"]/h3/a')
l= len(url_ahm)
for i in tqdm(range(l)):
    url_ahmedabad.append(url_ahm[i].get_attribute('href'))
time.sleep(2)

100%|██████████| 940/940 [00:21<00:00, 43.95it/s]

#### Used car in Bangalore:

In [44]:
#First connect to the driver

driver= webdriver.Chrome("chromedriver.exe")

#open the page in automated chrome browser

driver.get("https://www.cardekho.com/used-cars+in+bangalore")
time.sleep(2)

In [45]:
from tqdm import tqdm
for _ in tqdm(range(0,120)):
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,1100)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|██████████| 120/120 [04:45<00:00,  2.38s/it]

In [46]:
url_bangalore = []
url_ban = driver.find_elements(By.XPATH,'//div[@class="titlebox hover"]/h3/a')
l= len(url_ban)
for i in tqdm(range(l)):
    url_bangalore.append(url_ban[i].get_attribute('href'))
time.sleep(2)

100%|██████████| 620/620 [03:16<00:00,  3.15it/s]

#### Used car in Chennai:

In [34]:
#First connect to the driver

driver= webdriver.Chrome("chromedriver.exe")

#open the page in automated chrome browser

driver.get('https://www.cardekho.com/used-cars+in+chennai')
time.sleep(2)

In [35]:
from tqdm import tqdm
for _ in tqdm(range(0,150)):
    time.sleep(0.5)
    driver.execute_script("window.scrollBy(0,1000)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-400)")

100%|██████████| 150/150 [03:53<00:00,  1.56s/it]

In [36]:
url_chennai = []
url_chen = driver.find_elements(By.XPATH,'//div[@class="titlebox hover"]/h3/a')
l= len(url_chen)
for i in tqdm(range(l)):
    url_chennai.append(url_chen[i].get_attribute('href'))
time.sleep(2)

100%|██████████| 200/200 [00:03<00:00, 60.53it/s]

#### Used car in Delhi NCR:

In [38]:
#First connect to the driver

driver= webdriver.Chrome("chromedriver.exe")

#open the page in automated chrome browser

driver.get('https://www.cardekho.com/used-cars+in+delhi-ncr')
time.sleep(2)

In [39]:
from tqdm import tqdm
for _ in tqdm(range(0,200)):
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,1200)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|██████████| 200/200 [11:05<00:00,  3.33s/it]

In [40]:
url_delhi = []
url_del = driver.find_elements(By.XPATH,'//div[@class="titlebox hover"]/h3/a')
l= len(url_del)
for i in tqdm(range(l)):
    url_delhi.append(url_del[i].get_attribute('href'))
time.sleep(2)

100%|██████████| 1220/1220 [22:23<00:00,  1.10s/it]

In [48]:
car_url_ahm_ban_che_del= []

car_url_ahm_ban_che_del = url_ahmedabad+ url_bangalore+ url_chennai+ url_delhi

dict = {'URL': car_url_ahm_ban_che_del}  
       
df = pd.DataFrame(dict) 

# saving the dataframe 
df.to_csv('car_url_ahm_ban_che_del.csv')

In [49]:
len(car_url_ahm_ban_che_del)

2980

#### Used car in Agra:

In [11]:
#First connect to the driver

driver= webdriver.Chrome("chromedriver.exe")

#open the page in automated chrome browser

driver.get('https://www.cardekho.com/used-cars+in+agra')
time.sleep(2)

In [12]:
from tqdm import tqdm
for _ in tqdm(range(0,150)):
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,1000)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|██████████| 150/150 [05:11<00:00,  2.07s/it]

In [13]:
url_agra = []
url_ag = driver.find_elements(By.XPATH,'//div[@class="titlebox hover"]/h3/a')
l= len(url_ag)
for i in tqdm(range(l)):
    url_agra.append(url_ag[i].get_attribute('href'))
time.sleep(2)

100%|██████████| 168/168 [00:03<00:00, 55.85it/s]

#### Used car in Hyderabad:

In [20]:
#First connect to the driver

driver= webdriver.Chrome("chromedriver.exe")

#open the page in automated chrome browser

driver.get('https://www.cardekho.com/used-cars+in+hyderabad')
time.sleep(5)

In [21]:
from tqdm import tqdm
for _ in tqdm(range(0,100)):
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,1100)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|██████████| 100/100 [03:44<00:00,  2.25s/it]

In [22]:
url_hydrabad = []
url_hy = driver.find_elements(By.XPATH,'//div[@class="titlebox hover"]/h3/a')
l= len(url_hy)
for i in tqdm(range(l)):
    url_hydrabad.append(url_hy[i].get_attribute('href'))
time.sleep(2)

100%|██████████| 540/540 [01:52<00:00,  4.79it/s]

#### Used car in Jaipur:

In [26]:
#First connect to the driver

driver= webdriver.Chrome("chromedriver.exe")

#open the page in automated chrome browser

driver.get('https://www.cardekho.com/used-cars+in+jaipur')
time.sleep(2)

In [27]:
from tqdm import tqdm
for _ in tqdm(range(0,120)):
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,1000)","")
    time.sleep(1.5)
    driver.execute_script("window.scrollBy(0,-350)")

100%|██████████| 120/120 [05:15<00:00,  2.63s/it]

In [28]:
url_jaipur = []
url_jai = driver.find_elements(By.XPATH,'//div[@class="titlebox hover"]/h3/a')
l= len(url_jai)
for i in tqdm(range(l)):
    url_jaipur.append(url_jai[i].get_attribute('href'))
time.sleep(2)

100%|██████████| 280/280 [00:29<00:00,  9.51it/s]

####  Used car in Kolkata:

In [31]:
#First connect to the driver

driver= webdriver.Chrome("chromedriver.exe")

#open the page in automated chrome browser

driver.get('https://www.cardekho.com/used-cars+in+kolkata')
time.sleep(2)

In [32]:
from tqdm import tqdm
for _ in tqdm(range(0,150)):
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,1100)","")
    time.sleep(2)
    driver.execute_script("window.scrollBy(0,-350)")

100%|██████████| 150/150 [07:44<00:00,  3.10s/it]

In [33]:
url_kolkata = []
url_kol = driver.find_elements(By.XPATH,'//div[@class="titlebox hover"]/h3/a')
l= len(url_kol)
for i in tqdm(range(l)):
    url_kolkata.append(url_kol[i].get_attribute('href'))
time.sleep(2)

100%|██████████| 460/460 [00:08<00:00, 54.31it/s]

####  Used car in Mumbai:

In [40]:
#First connect to the driver

driver= webdriver.Chrome("chromedriver.exe")

#open the page in automated chrome browser

driver.get('https://www.cardekho.com/used-cars+in+mumbai')
time.sleep(3)

In [41]:
from tqdm import tqdm
for _ in tqdm(range(0,200)):
    time.sleep(0.5)
    driver.execute_script("window.scrollBy(0,1200)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|██████████| 200/200 [09:40<00:00,  2.90s/it]

In [42]:
url_mumbai = []
url_mum = driver.find_elements(By.XPATH,'//div[@class="titlebox hover"]/h3/a')
l= len(url_mum)
for i in tqdm(range(l)):
    url_mumbai.append(url_mum[i].get_attribute('href'))
time.sleep(2)

100%|██████████| 880/880 [00:19<00:00, 44.56it/s]

####  Used car in Pune:

In [44]:
#First connect to the driver

driver= webdriver.Chrome("chromedriver.exe")

#open the page in automated chrome browser

driver.get('https://www.cardekho.com/used-cars+in+pune')
time.sleep(3)

In [45]:
from tqdm import tqdm
for _ in tqdm(range(0,150)):
    time.sleep(0.5)
    driver.execute_script("window.scrollBy(0,1200)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|██████████| 150/150 [04:57<00:00,  1.98s/it]

In [46]:
url_pune = []
url_p = driver.find_elements(By.XPATH,'//div[@class="titlebox hover"]/h3/a')
l= len(url_p)
for i in tqdm(range(l)):
    url_pune.append(url_p[i].get_attribute('href'))
time.sleep(2)

100%|██████████| 700/700 [04:05<00:00,  2.85it/s]

####  Used car in Lucknow:

In [48]:
#First connect to the driver

driver= webdriver.Chrome("chromedriver.exe")

#open the page in automated chrome browser

driver.get('https://www.cardekho.com/used-cars+in+lucknow')
time.sleep(3)

In [49]:
from tqdm import tqdm
for _ in tqdm(range(0,120)):
    time.sleep(0.5)
    driver.execute_script("window.scrollBy(0,1200)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-350)")

100%|██████████| 120/120 [03:57<00:00,  1.98s/it]

In [50]:
url_lucknow = []
url_luc = driver.find_elements(By.XPATH,'//div[@class="titlebox hover"]/h3/a')
l= len(url_luc)
for i in tqdm(range(l)):
    url_lucknow.append(url_luc[i].get_attribute('href'))
time.sleep(2)

100%|██████████| 580/580 [00:13<00:00, 42.25it/s]

In [52]:
car_url_agra_hyd_jai_kol_mum_pune_luck= []

car_url_agra_hyd_jai_kol_mum_pune_luck = url_agra+ url_hydrabad + url_jaipur+ url_kolkata+ url_mumbai+ url_pune + url_lucknow

dict = {'URL': car_url_agra_hyd_jai_kol_mum_pune_luck}  
       
df = pd.DataFrame(dict) 

# saving the dataframe 
df.to_csv('car_url_agra_hyd_jai_kol_mum_pune_luck.csv')

In [53]:
len(car_url_agra_hyd_jai_kol_mum_pune_luck)

3608

####  Used car in Chandigarh:

In [2]:
#First connect to the driver

driver= webdriver.Chrome("chromedriver.exe")

#open the page in automated chrome browser

driver.get('https://www.cardekho.com/used-cars+in+chandigarh')
time.sleep(3)

In [3]:
from tqdm import tqdm
for _ in tqdm(range(0,80)):
    time.sleep(0.5)
    driver.execute_script("window.scrollBy(0,1200)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-400)")

100%|██████████| 80/80 [02:06<00:00,  1.58s/it]

In [5]:
url_chandigarh = []
url_ch = driver.find_elements(By.XPATH,'//div[@class="titlebox hover"]/h3/a')
l= len(url_ch)
for i in tqdm(range(l)):
    url_chandigarh.append(url_ch[i].get_attribute('href'))
time.sleep(2)

100%|██████████| 183/183 [00:02<00:00, 61.64it/s]

####  Used car in Gurgaon:

In [6]:
#First connect to the driver

driver= webdriver.Chrome("chromedriver.exe")

#open the page in automated chrome browser

driver.get('https://www.cardekho.com/used-cars+in+gurgaon')
time.sleep(3)

In [7]:
from tqdm import tqdm
for _ in tqdm(range(0,180)):
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,1200)","")
    time.sleep(1)
    driver.execute_script("window.scrollBy(0,-400)")

100%|██████████| 180/180 [06:11<00:00,  2.06s/it]

In [10]:
url_gurgaon = []
url_gur = driver.find_elements(By.XPATH,'//div[@class="titlebox hover"]/h3/a')
l= len(url_gur)
for i in tqdm(range(l)):
    url_gurgaon.append(url_gur[i].get_attribute('href'))
time.sleep(2)

100%|██████████| 300/300 [00:05<00:00, 54.17it/s]

In [13]:
car_url_chand_gur= []

car_url_chand_gur = url_chandigarh+ url_gurgaon

dict = {'URL': car_url_chand_gur}  
       
df = pd.DataFrame(dict) 

# saving the dataframe 
df.to_csv('car_url_chand_gur.csv')

In [14]:
len(car_url_chand_gur)

483

### Scraping for further details:

In [32]:
df1 = pd.read_csv(r'car_url_ahm_ban_che_del.csv')
df2=  pd.read_csv(r'car_url_agra_hyd_jai_kol_mum_pune_luck.csv')
df3=  pd.read_csv(r'car_url_chand_gur.csv')

In [33]:
final_car_url = pd.concat([df1, df2, df3])
final_car_url. head()

   Unnamed: 0                                                URL
0           0  https://www.cardekho.com/buy-used-car-details/...
1           1  https://www.cardekho.com/buy-used-car-details/...
2           2  https://www.cardekho.com/buy-used-car-details/...
3           3  https://www.cardekho.com/buy-used-car-details/...
4           4  https://www.cardekho.com/buy-used-car-details/...

In [34]:
final_url = pd.DataFrame({})
final_url['URLs'] = final_car_url['URL']
final_url.to_excel('Final_Car_URL.xlsx', index = False)

## Final scraping:

In [3]:
df = pd.read_excel('Final_Car_URL.xlsx')

In [4]:
df.shape

(7071, 1)

In [6]:
# Making Empty lists

Model = []
Manufactring_year =[]
KMs_driven = []
Fuel_Type = []
Ownership= []
Price = []
Transmission = []
Insurance_Validity = []
Seats = []
RTO = []
Engine_displacement = []
Milage = []
Max_power = []
Torque = []

Color = []
Max_Torque = []
Engine_Type = []
Displacement=[]
No_of_cylinder = []
Turbo_charger = []
Length = []
Width =[]
Height = []
Wheel_Base = []
Front_Tread = []
Kerb_Weight = []
Gear_Box =[]
Front_Brake_Type = []
Rear_Brake_Type = []
Steering_Type =[]
Tyre_Type = []

In [7]:
driver= webdriver.Chrome("chromedriver.exe")

In [28]:
from tqdm import tqdm
for i in tqdm(df['URLs'][0:100]):
    driver.get(i)
    time.sleep(1.5)
    
    # Extracting Car Model via xpath
    try :
        model = driver.find_elements(By.XPATH,'//div[@id="vdp-main"]/div/div/div[1]/div[2]/div[1]/div/div[1]')
        Model.append(model[0].text[5:])
    except Exception:
        pass
        
        
    # Extracting Car Manufactring_year via xpath
    try :
        yr = driver.find_elements(By.XPATH,'//ul[@class="gsc_row detailsList"]/li[10]/div/div/span')
        Manufactring_year.append(yr[0].text)
    except:
        Manufactring_year.append('--')
            
    # Extracting Car KMs_driven via xpath
    try :
        km = driver.find_elements(By.XPATH,'//ul[@class="gsc_row detailsList"]/li[5]/div/div/span')
        KMs_driven.append(km[0].text. replace(' Kms', ''))
    except:
        KMs_driven.append('--')
            
    # Extracting Car Fuel_Type via xpath
    try :
        fuel = driver.find_elements(By.XPATH,'//ul[@class="gsc_row detailsList"]/li[3]/div/div/span')
        Fuel_Type.append(fuel[0].text)
    except:
        Fuel_Type.append('--')
            
    # Extracting Car Ownership via xpath
    try :
        own = driver.find_elements(By.XPATH,'//ul[@class="gsc_row detailsList"]/li[7]/div/div/span')
        Ownership.append(own[0].text)
    except:
        Ownership.append('--')
        
    # Extracting Car price via xpath
    try :
        p = driver.find_elements(By.XPATH,'//*[@id="vdp-main"]/div/div/div[1]/div[2]/div[1]/div/div[3]/span')
        Price.append(p[0].text. replace('₹ ', ''))
    except:
        Price.append('--')
        
    # Extracting Car Transmission via xpath
    try :
        trans = driver.find_elements(By.XPATH,'//ul[@class="gsc_row detailsList"]/li[9]/div/div/span')
        Transmission.append(trans[0].text)
    except:
        Transmission.append('--')
        
    # Extracting Car Insurance_Validity via xpath
    try :
        val = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carOverview"]/ul/li[2]/div/div/span')
        Insurance_Validity.append(val[0].text)
    except:
        Insurance_Validity.append('--')
        
    # Extracting Car Seats via xpath
    try :
        seat = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carOverview"]/ul/li[4]/div/div/span')
        Seats.append(seat[0].text.replace(" Seats", ""))
    except:
        Seats.append('--')
        
    # Extracting Car RTO via xpath
    try :
        rto = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carOverview"]/ul/li[6]/div/div/span')
        RTO.append(rto[0].text)
    except:
        RTO.append('--')
        
    # Extracting Car Engine_displacement via xpath
    try :
        dist = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carOverview"]/ul/li[8]/div/div/span')
        Engine_displacement.append(dist[0].text.replace(' cc', ''))
    except:
        Engine_displacement.append('--')
        
    # Extracting Car Milage via xpath
    try :
        mil = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/ul/li[1]/div/div/span')
        Milage.append(mil[1].text. replace(' kmpl', ''))
    except:
        Milage.append('--')
        
    # Extracting Car Max_power via xpath
    try :
        maxp = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/ul/li[3]/div/div/span')
        Max_power.append(maxp[1].text.replace('bhp', ''))
    except:
        Max_power.append('--')
        
    # Extracting Car Torque via xpath
    try :
        tor = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/ul/li[4]/div/div/span')
        Torque.append(tor[1].text.replace('Nm',''))
    except:
        Torque.append('--')        
      
        
        
    
    ## Clicking on View all specifications (Engine and transmission) ##
    try:
        view_more = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[1]')
        view_more[1].click()
        time.sleep(1)
        c= driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[1]/div/h3')
        c[0].click()
        time.sleep(1)
    except:
        pass
    
    # Extracting Car Color via xpath
    try :
        col = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[1]/div/div/ul/li[1]/div/div/span')
        Color.append(col[0].text)
    except:
        Color.append('--')
        
        # Extracting Car Max_Torque via xpath
    try :
        maxt = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[1]/div/div/ul/li[5]/div/div/span')
        Max_Torque.append(maxt[0].text)
    except:
        Max_Torque.append('--')

    # Extracting Car Engine_Type via xpath
    try :
        engtype = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[1]/div/div/ul/li[2]/div/div/span')
        Engine_Type.append(engtype[0].text)
    except:
        Engine_Type.append('--')
        
    # Extracting Car No_of_cylinder via xpath
    try :
        cyn_no = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[1]/div/div/ul/li[6]/div/div/span')
        No_of_cylinder.append(cyn_no[0].text)
    except:
        No_of_cylinder.append('--')
        
    # Extracting Car Turbo_charger via xpath
    try :
        turbo = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[1]/div/div/ul/li[10]/div/div/span')
        Turbo_charger.append(turbo[0].text)
    except:
        Turbo_charger.append('--')
        
    # Extracting Car Displacement via xpath
    try :
        dis = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[1]/div/div/ul/li[3]/div/div/span')
        Displacement.append(dis[0].text)
    except:
        Displacement.append('--')
        
        
        
        
    ## Clicking on View all specifications (Dimention and capacity)##
    try:
        view_more = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[1]')
        view_more[1].click()
        time.sleep(1)
        c= driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[2]/div/h3')
        c[0].click()
        time.sleep(3)
    except:
        pass
    
    # Extracting Car Length via xpath
    try :
        leng = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[2]/div/div/ul/li[1]/div/div/span')
        Length.append(leng[0].text)
    except:
        Length.append('--')
        
    # Extracting Car Width via xpath
    try :
        wid = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[2]/div/div/ul/li[2]/div/div/span')
        Width.append(wid[0].text.replace('mm', ''))
    except:
        Width.append('--')
        
    # Extracting Car Height via xpath
    try :
        hei = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[2]/div/div/ul/li[3]/div/div/span')
        Height.append(hei[0].text.replace('mm', ''))
    except:
        Height.append('--')
        
    # Extracting Car Wheel_Base via xpath
    try :
        wheel = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[2]/div/div/ul/li[4]/div/div/span')
        Wheel_Base.append(wheel[0].text.replace('mm', ''))
    except:
        Wheel_Base.append('--')
        
    # Extracting Car Front_Tread via xpath
    try :
        front = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[2]/div/div/ul/li[5]/div/div/span')
        Front_Tread.append(front[0].text.replace('mm', ''))
    except:
        Front_Tread.append('--')
        
    # Extracting Car Kerb_Weight via xpath
    try :
        kerb = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[2]/div/div/ul/li[7]/div/div/span')
        Kerb_Weight.append(kerb[0].text.replace('kg', '').replace('Kg', ''))
    except:
        Kerb_Weight.append('--')
        
        
        

    ## Clicking on View all specifications (Miscellaneous)##
    try:
        view_more = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[1]')
        view_more[1].click()
        time.sleep(1)
        c= driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[3]/div/h3')
        c[0].click()
        time.sleep(3)
    except:
        pass
    
    # Extracting Car Gear_Box via xpath
    try :
        gear = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[3]/div/div/ul/li[1]/div/div/span')
        Gear_Box.append(gear[0].text.replace('Speed', ''))
    except:
        Gear_Box.append('--')
        
    # Extracting Car Front_Brake_Type via xpath
    try :
        breakf = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[3]/div/div/ul/li[6]/div/div/span')
        Front_Brake_Type.append(breakf[0].text)
    except:
        Front_Brake_Type.append('--')     
    
    # Extracting Car Rear_Brake_Type via xpath
    try :
        breakr = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[3]/div/div/ul/li[7]/div/div/span')
        Rear_Brake_Type.append(breakr[0].text)
    except:
        Rear_Brake_Type.append('--')
        
    # Extracting Car Steering_Type via xpath
    try :
        ste = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[3]/div/div/ul/li[4]/div/div/span')
        Steering_Type.append(ste[0].text)
    except:
        Steering_Type.append('--')
        
    # Extracting Car Tyre_Type via xpath
    try :
        tyre = driver.find_elements(By.XPATH,'//*[@id="vdpCard-carFeatures"]/div[2]/div[3]/div/div/ul/li[10]/div/div/span')
        Tyre_Type.append(tyre[0].text)
    except:
        Tyre_Type.append('--')

100%|██████████| 100/100 [23:21<00:00, 14.02s/it]

In [29]:
data = list(zip(Model, Manufactring_year, KMs_driven, Fuel_Type,Ownership, Transmission, Insurance_Validity,
               Seats, RTO,Engine_displacement, Milage, Max_power,  Torque,
               Color, Max_Torque, Engine_Type, Displacement, No_of_cylinder, Turbo_charger, 
               Length, Width, Height, Wheel_Base, Front_Tread, Kerb_Weight, Gear_Box, Front_Brake_Type, 
               Rear_Brake_Type, Steering_Type, Tyre_Type, Price))

Set1 = pd.DataFrame(data, columns=['Model', 'Manufactring_year', 'KMs_driven', 'Fuel_Type','Ownership', 'Transmission', 
               'Insurance_Validity','Seats', 'RTO','Engine_displacement', 'Milage', 'Max_power',  'Torque',
               'Color', 'Max_Torque', 'Engine_Type', 'Displacement', 'No_of_cylinder', 'Turbo_charger', 
               'Length', 'Width', 'Height', 'Wheel_Base', 'Front_Tread', 'Kerb_Weight', 'Gear_Box', 'Front_Brake_Type', 
               'Rear_Brake_Type', 'Steering_Type', 'Tyre_Type', 'Price'])

pd.set_option('display.max_columns', 35)
Set1.sample(n=5)

,Model,Manufactring_year,KMs_driven,Fuel_Type,Ownership,Transmission,Insurance_Validity,Seats,RTO,Engine_displacement,Milage,Max_power,Torque,Color,Max_Torque,Engine_Type,Displacement,No_of_cylinder,Turbo_charger,Length,Width,Height,Wheel_Base,Front_Tread,Kerb_Weight,Gear_Box,Front_Brake_Type,Rear_Brake_Type,Steering_Type,Tyre_Type,Price
79,Honda Amaze V Petrol BSIV,2019,"19,000",Petrol,First Owner,Manual,Comprehensive,5,GJ01,796,22.05,47.33,69,White,69Nm@3500rpm,F8D Petrol Engine,796,3,--,3445,1515,1475,2360,1295,755,5,Tubeless Tyres,Tubeless Tyres,Disc,--,3.50 Lakh
46,Honda City i VTEC S,2016,"47,618",Petrol,First Owner,Manual,Zero Dep,5,GJ01,998,20.51,67.04,90,White,90Nm@3500rpm,K10B Petrol Engine,998,3,No,3599mm,1495,1700,2400,1295,885,5,Ventilated Disc,Ventilated Disc,Power,Tubeless Tyres,3.24 Lakh
35,Honda BR-V i-DTEC V MT,2016,"30,983",Petrol,First Owner,Manual,Third Party insurance,5,GJ01,796,22.74,47.3,69,Superior white,69Nm@3500rpm,F8D Petrol Engine,796,3,No,3395mm,1490,1475,2360,1295,720,5,Solid Disc,Solid Disc,Power,Tubeless Tyres,2.98 Lakh
65,Honda City i DTEC V,2018,"67,000",Diesel,First Owner,Manual,Comprehensive,5,GJ01,1582,19.67,126.2,259.9,Blue,259.9Nm@1900-2750rpm,U2 CRDI VGT Engine,1582,4,Yes,4270mm,1780,1630,2590,--,--,6,Disc,Disc,Power,Tubeless,10.85 Lakh
55,Toyota Innova Crysta 2.4 GX MT,2019,"24,000",Petrol,First Owner,Automatic,Comprehensive,5,GJ01,1199,18.2,88.7,110,White,110Nm@4800rpm,i-VTEC Petrol Engine,1199,4,No,3955 mm,1694,1544,2530,1064 Kg,--,5,Disc,Disc,Power,"Tubeless,Radial",7.95 Lakh

In [30]:
# saving the dataframe 
Set1.to_csv('Set1.csv') 
Set1.shape

(93, 31)

### By this way , let's scrape all car's details from the corrosponding URL.
### From Next sets of data same code of Set1 is Re-Run again and again.

Let's check the shape of all the 15sets of scrapped data. Then concate them to get the final model.

In [13]:
df1 = pd.read_csv(r'Set1.csv')
df2 = pd.read_csv(r'Set2.csv')
df3 = pd.read_csv(r'Set3.csv')
df4 = pd.read_csv(r'Set4.csv')
df5 = pd.read_csv(r'Set5.csv')
df6 = pd.read_csv(r'Set6.csv')
df7 = pd.read_csv(r'Set7.csv')
df8 = pd.read_csv(r'Set8.csv')
df9 = pd.read_csv(r'Set9.csv')
df10 = pd.read_csv(r'Set10.csv')
df11 = pd.read_csv(r'Set11.csv')
df12 = pd.read_csv(r'Set12.csv')
df13 = pd.read_csv(r'Set13.csv')
df14 = pd.read_csv(r'Set14.csv')
df15 = pd.read_csv(r'Set15.csv')

In [15]:
print ('Shape of df1 is :', df1.shape)
print ('Shape of df2 is :' ,df2.shape)
print ('Shape of df3 is :' ,df3.shape)
print ('Shape of df4 is :' ,df4.shape)
print ('Shape of df5 is :' ,df5.shape)
print ('Shape of df6 is :' ,df6.shape)
print ('Shape of df7 is :' ,df7.shape)
print ('Shape of df8 is :' ,df8.shape)
print ('Shape of df9 is :' ,df9.shape)
print ('Shape of df10 is :' ,df10.shape)
print ('Shape of df11 is :' ,df11.shape)
print ('Shape of df12 is :' ,df12.shape)
print ('Shape of df13 is :' ,df13.shape)
print ('Shape of df14 is :' ,df14.shape)
print ('Shape of df15 is :' ,df15.shape)

Shape of df1 is : (93, 32)
Shape of df2 is : (348, 32)
Shape of df3 is : (464, 32)
Shape of df4 is : (439, 32)
Shape of df5 is : (422, 32)
Shape of df6 is : (421, 32)
Shape of df7 is : (448, 32)
Shape of df8 is : (449, 32)
Shape of df9 is : (451, 32)
Shape of df10 is : (456, 32)
Shape of df11 is : (407, 32)
Shape of df12 is : (446, 32)
Shape of df13 is : (439, 32)
Shape of df14 is : (455, 32)
Shape of df15 is : (458, 32)

In [16]:
Final_Scraped_Details= pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12,df13,df14,df15], axis=0)
Final_Scraped_Details.shape

(6196, 32)

In [18]:
Final_Scraped_Details.to_excel('Final_Scraped_Details.xlsx', index = False)

In [21]:
data = pd.read_excel('Final_Scraped_Details.xlsx')
data.sample(n=5)

,Unnamed: 0,Model,Manufactring_year,KMs_driven,Fuel_Type,Ownership,Transmission,Insurance_Validity,Seats,RTO,Engine_displacement,Milage,Max_power,Torque,Color,Max_Torque,Engine_Type,Displacement,No_of_cylinder,Turbo_charger,Length,Width,Height,Wheel_Base,Front_Tread,Kerb_Weight,Gear_Box,Front_Brake_Type,Rear_Brake_Type,Steering_Type,Tyre_Type,Price
4636,238,Honda City i VTEC V,2011,"1,09,543",Diesel,First Owner,Automatic,Third Party,5,MH01,1968,18.33,167.7,350,Grey,350Nm@1750-2500rpm,TDI Engine,1968,4,Yes,4769mm,1820,1470,2711,1546,1605,6,Disc,Disc,Power,4,4.75 Lakh
4230,239,Mercedes-Benz C-Class Cabriolet C 300,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--,--
2156,390,Maruti Wagon R LXI CNG Optional,2017,"46,000",Petrol,First Owner,Manual,Third Party,5,DL1C,1198,18.06,74.93,104,White,104Nm@4000rpm,XH5 In-Line Petrol Engine,1198,3,78 X 83.6mm,3805mm,1665,1530,2450,--,--,5,Ventilated Disc,Ventilated Disc,Power,"Tubeless,Radial",3.30 Lakh
3679,144,Honda Amaze S i-DTEC,2021,"7,797",Petrol,First Owner,Manual,Comprehensive,6,WB12,1999,14.5,156.9,191nm,Black,191nm@4500rpm,2.0L Petrol Engine,1999,4,No,4500,1790,1675,2760,--,--,6,"Radial, Tubeless","Radial, Tubeless",Disc,--,15.25 Lakh
1544,200,Maruti SX4 S Cross Delta DDiS 200 SH,2009,"65,000",Diesel,First Owner,Manual,Third Party insurance,8,TN21,2179,14.5,120,25.5,Silver,"25.5 @ 1,500-3,000 (kgm@rpm)",In-Line Engine,2179,4,Yes,"4,421 mm","1,780","1,940","2,550","1,496","1,940",5,Drum,Drum,5.25 m,--,2.25 Lakh