# Web Scraping Assignment :2 (By Selenium)

## Flip Robo Technologies | Internship: 31

### Submitted By : Tamali Saha (tamali428@gmail.com)

In [1]:
# import necessary librabies for webscraping with selenium

import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore")
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [2]:
#First connect to the driver

driver= webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

#open the naukri page in automated chrome browser

driver.get("https://www.naukri.com/")

In [3]:
# Enter required designation and location for Data Analyst

#Enter “Data Analyst” in “Skill, Designations, Companies” field

des= driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
des.send_keys("Data Analyst")

# Enter “Bangalore” in “enter the location” field

loc= driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
loc.send_keys("Bangalore")

In [4]:
#click the search button

search= driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [5]:
# lets make empty list to store data with the given conditions

title= []
location=[]
company=[]
experience=[]

In [6]:
# Scraping first 10 job title from the given page

title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    x= i.text
    title.append(x) 

# Scraping first 10 job location from the given page

loc_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tags[0:10]:
    x= i.text
    location.append(x)
    
# Scraping first 10 company name the given page

com_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_tags[0:10]:
    x= i.text
    company.append(x)

# Scraping first 10 experience from the given page

exp_tags=  driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in exp_tags[0:10]:
    x= i.text
    experience.append(x)

In [7]:
#checking the length

print (len(title), len(location), len(company), len(experience))

10 10 10 10

In [8]:
# Creating DataFrame to scrap first 10 data

data_list= list(zip(title, location, company,experience ))

data= pd.DataFrame(data_list, 
    columns =['Job_Title', 'Job_Location', 'Company_Name', 'Experience_Required'],
    index=pd.RangeIndex(start=1, stop=(len(title)+1), name='Sr. No.'))

print ("First 10 Data Analyst jobs data from Naukri is:\n")
data

First 10 Data Analyst jobs data from Naukri is:

,Job_Title,Job_Location,Company_Name,Experience_Required
Sr. No.,,,,
1,Contractual Hiring For Top MNC || Business Dat...,Bangalore/Bengaluru,TeamLease,5-8 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-10 Yrs
3,Data Analyst - CRM Platform,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Artech infosystem,1-6 Yrs
4,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",iMindYourBusiness,0-2 Yrs
5,Data Analyst,Bangalore/Bengaluru,Encora,3-6 Yrs
6,Data Analyst - FinTech,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Primo Hiring,1-2 Yrs
7,Data Analyst - FinTech,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",Primo Hiring,1-2 Yrs
8,Data Analyst - Online / eCommerce,"Bangalore/Bengaluru, Kolkata, Mumbai, Chennai,...",Primo Hiring,3-6 Yrs
9,Assistant Manager/Manager - Data Analyst - Ana...,"Bangalore/Bengaluru, Delhi / NCR",Huquo Consulting Pvt. Ltd,6-11 Yrs
10,Manager - Data Analyst,"Bangalore/Bengaluru, Gurgaon/Gurugram, Delhi /...",Huquo Consulting Pvt. Ltd,3-8 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [9]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#opening the naukri page in automated chrome browser

driver.get("https://www.naukri.com/")

In [10]:
# Lets enter required designation and location for Data Scientist

#Enter “Data Scientist” in “Skill, Designations, Companies” field

des= driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
des.send_keys("Data Scientist")

#Enter “Bangalore” in “enter the location” field.

loc= driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
loc.send_keys("Bangalore")

In [11]:
# click the search button

search= driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [12]:
# lets make empty list to store data with the given conditions

title= []
location=[]
company=[]

In [13]:
# Scraping first 10 job title from the given page

title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    x= i.text
    title.append(x) 

# Scraping first 10 job location from the given page

loc_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tags[0:10]:
    x= i.text
    location.append(x)
    
# Scraping first 10 company name the given page

com_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_tags[0:10]:
    x= i.text
    company.append(x)

In [14]:
#checking the length

print (len(title), len(location), len(company))

10 10 10

In [15]:
# Creating DataFrame to stor ethe required field of first 10 data

data_list = list(zip(title, location, company ))

data= pd.DataFrame(data_list, 
    columns =['Job_Title', 'Job_Location', 'Company_Name'],
    index=pd.RangeIndex(start=1, stop=11, name='Sr. No.'))

#print the outcomes

print ("First 10 Data Scientist jobs data from Naukri is:\n")
data

First 10 Data Scientist jobs data from Naukri is:

,Job_Title,Job_Location,Company_Name
Sr. No.,,,
1,Job Opportunity on Data Science_ Python with T...,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Tech Mahindra
2,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
3,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
4,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
5,Data Scientist/AIML Engineer,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",upGrad
6,ACN - Applied Intelligence - C4DI - Sustainabi...,Bangalore/Bengaluru,Accenture
7,Hiring Data Science Intern - DataTrained Educa...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",DataTrained
8,Lead ML Scientist,"Bangalore/Bengaluru, Mumbai",Fractal Analytics
9,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
10,Data Scientist - II,"Bangalore/Bengaluru, India, Mumbai (All Areas)",SMARTPADDLE TECHNOLOGY PVT. LTD.

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. 
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

In [16]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#opening the naukri page in automated chrome browser

driver.get("https://www.naukri.com/")

In [17]:
# Lets enter required designation and location for Data Scientist

des= driver.find_element(By.XPATH, "/html/body/div[1]/div[6]/div/div/div[1]/div/div/div/input")
des.send_keys("Data Scientist")

In [18]:
# clicking search

search= driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [19]:
# select location filter as “Delhi/NCR”

location_filter = driver.find_element(By.XPATH,'//span[@title="Delhi / NCR"]')
location_filter.click()

In [20]:
# select salary filter as “3-6” lakhs

salary_filter = driver.find_element(By.XPATH,'//span[@title="3-6 Lakhs"]')
salary_filter.click()

In [22]:
# lets make empty list to store data with the given conditions

title= []
location=[]
company=[]
url=[]

In [23]:
# Scraping first 10 job title from the given page

title_tags= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    x= i.text
    title.append(x) 

# Scraping first 10 job location from the given page

loc_tags= driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in loc_tags[0:10]:
    x= i.text
    location.append(x)
    
# Scraping first 10 company name the given page

com_tags= driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in com_tags[0:10]:
    x= i.text
    company.append(x)
    
# Scraping first 10 url the given page

url_tag= driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in url_tag[0:10]:
    x= i.get_attribute("href")
    url.append(x)

In [24]:
# Creating DataFrame to stor ethe required field of first 10 data

data_list = list(zip(title, location, company, url))

data= pd.DataFrame(data_list, 
    columns =['Job_Title', 'Job_Location', 'Company_Name','Corrosponding_URL'],
    index=pd.RangeIndex(start=1, stop=11, name='Sr. No.'))

#print the outcomes

print ("First 10 Data Scientist jobs data using Delhi/NCR location and 3-6 Lakhs salary from Naukri is:\n")
data

First 10 Data Scientist jobs data using Delhi/NCR location and 3-6 Lakhs salary from Naukri is:

,Job_Title,Job_Location,Company_Name,Corrosponding_URL
Sr. No.,,,,
1,Data Scientist,"Noida, Nagpur, Bangalore/Bengaluru",GlobalLogic,https://www.naukri.com/job-listings-data-scien...
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,https://www.naukri.com/job-listings-digitalbcg...
3,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,https://www.naukri.com/job-listings-data-scien...
4,Data Scientist,Gurgaon/Gurugram,Optum,https://www.naukri.com/job-listings-data-scien...
5,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,https://www.naukri.com/job-listings-data-scien...
6,Lead Data Scientist,Noida(Sector-59 Noida)\n(WFH during Covid),R Systems International,https://www.naukri.com/job-listings-lead-data-...
7,Urgent Hiring- Expertise in Data Scientist in ...,"Delhi / NCR, Gurgaon/Gurugram, Bangalore/Benga...",CLARITY CONSULTING,https://www.naukri.com/job-listings-urgent-hir...
8,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,https://www.naukri.com/job-listings-knowledge-...
9,Data Scientist,Gurgaon/Gurugram,Feedback Infra,https://www.naukri.com/job-listings-data-scien...
10,Data Scientist,Noida,4i Odc,https://www.naukri.com/job-listings-data-scien...

### Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 1. Brand, 2. Product Description, 3. Price, 4.Discount (as shown in the given picture)
To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and 
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the 
required data as usual
4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then 
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

In [47]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#Go to Flipkart webpage by url : https://www.flipkart.com/

driver.get("https://www.flipkart.com/")

In [48]:
popup= driver.find_element(By.XPATH,"/html/body/div[2]/div/div/button")

popup.click()

In [49]:
#Lets enter “sunglasses” in the search field where “search for products, brands and more” is written

des= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

des.send_keys("Sunglasses")

In [50]:
# click the search icon

search= driver.find_element(By.CLASS_NAME, "_34RNph")
search.click()

In [51]:
#Scrap the required data 1. Brand, 2. Product Description, 3. Price, 4.Discount

brand_name=[]
product_description=[]
price=[]
discount=[]

In [52]:
# Scraping first 100 Brand from the given page

# Scraping data from the first page
start=1
end=4
for page in range(start, end):
    brand_tags= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        x= i.text
        brand_name.append(x)
    
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    next_button.click()
    time.sleep(8)
Top100_brand_name= brand_name[0:100] #Top 100 data

In [54]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [55]:
# Scraping first 100 Product Description from the given page

# Scraping data from the first page
start=1
end=4
for page in range(start, end):
    product_tags= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tags:
        x= i.text
        product_description.append(x)
    
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
Top100_product_description= product_description[0:100] #Top 100 data

In [58]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [59]:
# Scraping first 100 Price from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        x= i.text
        price.append(x)
    
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
Top100_price= price[0:100] #Top 100 data

In [62]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [63]:
# Scraping first 100 Discount from the given page

# Scraping data from the first page
start=1
end=4
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in price_tags:
        x= i.text
        discount.append(x)
        
    #Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') 
    next_button.click()
    time.sleep(5)
Top100_discount = discount[0:100] #Top 100 data

In [66]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [67]:
#checking the length

print (len(Top100_brand_name), len(Top100_product_description), len(Top100_price), len(Top100_discount))

100 100 100 100

In [68]:
# Creating DataFrame to scrap first 10 data

data_list= list(zip(Top100_brand_name, Top100_product_description, Top100_price, Top100_discount))

data= pd.DataFrame(data_list, 
    columns =['Brand_Name', 'Product Description', 'Price', 'Discount'],
    index=pd.RangeIndex(start=1, stop=101, name='Sr. No.'))

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 100 sunglasses listings on flipkart.com:\n")
data

First 100 sunglasses listings on flipkart.com:

### Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. This task will be done in following steps:
1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field. 
3. Then click the search button.

As shown in the above page you have to scrape the tick marked attributes. These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [82]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#Go to Flipkart webpage by url : https://www.flipkart.com/

driver.get("https://www.flipkart.com/")

In [83]:
# close the popup window

popup_close = driver.find_element(By.XPATH,'/html/body/div[2]/div/div/button')
popup_close.click()

In [84]:
# lets Enter “iphone 11” in “Search” field

des= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
des.send_keys("iphone 11")

In [85]:
#click on search 

search= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [86]:
#click the first results from all iphone 11 data

click_first = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[2]/div/div/div/a/div[2]')
click_first.click()

In [87]:
# as the result open up in new tab of the browser we need to go that tab

driver.switch_to.window(driver.window_handles[1])

In [88]:
#clicking on the all reviews button

all_rev = driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div/span')
all_rev.click()

In [89]:
#Scrap the required data Rating, Review summary, Full review

ratings=[]
review_summary=[]
full_review=[]

In [90]:
# Scraping first 100 Ratings the given page

start = 0 #starting page
end = 10 # page number to end scaping


for page in range(start,end):
    
    #scrape the ratings
    
    rating_tags = driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        x= i.text
        ratings.append(x)
        
    #getting the nextpage button & clicking next 
    
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [91]:
len(ratings)

100

In [93]:
# Scraping first 100 Review summary the given page

start = 0 #starting page
end = 10 # page number to end scaping


for page in range(start,end):
    
    # scrape the review summaries
    
    review_sum_tags = driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in review_sum_tags:
        x= i.text
        review_summary.append(x)    
    
    #getting the nextpage button & clicking next 
    
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [94]:
len(review_summary)

100

In [95]:
# Scraping first 100 full review the given page

start = 0 #starting page
end = 10 # page number to end scaping


for page in range(start,end):
    
    # scrape the full reviews
    
    full_review_tags = driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in full_review_tags:
        x= i.text
        full_review.append(x.replace("\n"," "))
        
    #getting the nextpage button & clicking next 
    
    next_button = driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)

In [96]:
len(full_review)

100

In [97]:
# Creating DataFrame to scrap first 10 data

data_list= list(zip(ratings, review_summary, full_review))

data= pd.DataFrame(data_list,
    columns =['Ratings', 'Review Summary', 'Full Summary'],
    index=pd.RangeIndex(start=1, stop=101, name='Sr. No.'))

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 100 reviews data from flipkart.com for iphone11 phone:\n")
data

First 100 reviews data from flipkart.com for iphone11 phone:

### Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
4. Discount (as shown in the given picture)

In [100]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#Go to Flipkart webpage by url : https://www.flipkart.com/

driver.get("https://www.flipkart.com/")

In [101]:
# close the popup window

popup= driver.find_element(By.XPATH, "/html/body/div[2]/div/div/button")
popup.click()

In [102]:
# lets Enter “iphone 11” in “Search” field

des= driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")

des.send_keys("sneakers")

In [103]:
#click on search button

search= driver.find_element(By.CLASS_NAME, "L0Z3Pu")
search.click()

In [108]:
#Scrap the required data Brand, Product Description, Price, Discount (as shown in the given picture)

brand_name=[]
product_description=[]
price=[]
discount=[]

In [110]:
# Scraping first 100 Brand from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    brand_tags= driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags:
        x= i.text
        brand_name.append(x)
    
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(5)
Top100_brand_name= brand_name[0:100] #Top 100 data

In [111]:
len(brand_name)

120

In [109]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [112]:
# Scraping first 100 Product Description from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    product_tags= driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in product_tags:
        x= i.text
        product_description.append(x)
        
    
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)
Top100_product_description= product_description[0:100] #Top 100 data

In [114]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [115]:
# Scraping first 100 Price from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        x= i.text
        price.append(x)
        
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #Go to the “Next” Button at the bottom other page and scrap data
    next_button.click()
    time.sleep(3)
Top100_price= price[0:100] #Top 100 data

In [116]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [117]:
# Scraping first 100 Discount from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
    for i in price_tags:
        x= i.text
        discount.append(x) 
        
    # Go to the “Next” Button at the bottom other page and scrap data
     
    next_button= driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]') #Go to the “Next” Button at the bottom other page and scrap data
    next_button.click()
    time.sleep(3)
Top100_discount = discount[0:100] #Top 100 data

In [118]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[2]')
prev_button.click()

In [119]:
# Creating DataFrame of first 100 scrapped data

list_data= list(zip(Top100_brand_name, Top100_product_description, Top100_price, Top100_discount))

data= pd.DataFrame( list_data,
        index=pd.RangeIndex(start=1, stop=101, name='Sr. No.'),
        columns =['Brand_Name','Product Description', 'Price', 'Discount'])

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 100 sneakers data from Flipkart is:\n")
data

First 100 sneakers data from Flipkart is:

### Q7: Go to the link - https://www.myntra.com/shoes. Set second Price filter and Color filter to “Black”, as shown in the below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe 
description, price of the shoe as shown in the below image.

In [120]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#Go to Flipkart webpage by url: https://www.myntra.com/shoes

driver.get(" https://www.myntra.com/shoes")

In [121]:
#apply second price filter 

price_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [122]:
#apply Color filter to “Black”

color_filter = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label')
color_filter.click()

In [123]:
#Scrap the required data Brand, Product Description, Price

brand_name=[]
product_description=[]
price=[]

In [127]:
# Scraping first 100 Brand from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    brand_tags= driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in brand_tags:
        x= i.text
        brand_name.append(x)
        
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//li[@class="pagination-next"]') #Go to the “Next” Button at the bottom other page and scrap data
    next_button.click()
    time.sleep(3)
Top100_brand_name= brand_name[0:100] #Top 100 data

In [129]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a')
prev_button.click()

In [130]:
# Scraping first 100 Product Description from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    product_tags= driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in product_tags:
        x= i.text
        product_description.append(x)
        
    # Go to the “Next” Button at the bottom other page and scrap data
        
    next_button= driver.find_element(By.XPATH,'//li[@class="pagination-next"]')
    next_button.click()
    time.sleep(3)
Top100_product_description= product_description[0:100] #Top 100 data

In [131]:
# Bring to 1st page

prev_button= driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[3]/a')
prev_button.click()

In [132]:
# Scraping first 100 Price from the given page

# Scraping data from the first page
start=0
end=3
for page in range(start, end):
    price_tags= driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in price_tags:
        x= i.text
        price.append(x)
        
    # Go to the “Next” Button at the bottom other page and scrap data
    
    next_button= driver.find_element(By.XPATH,'//li[@class="pagination-next"]') #Go to the “Next” Button at the bottom other page and scrap data
    next_button.click()
    time.sleep(3)
Top100_price= price[0:100] #Top 100 data

In [133]:
print(len(Top100_brand_name), len(Top100_product_description), len(Top100_price))

100 100 100

In [134]:
# Creating DataFrame of first 100 scrapped data

list_data= list(zip(Top100_brand_name, Top100_product_description, Top100_price))

data= pd.DataFrame( list_data,
        index=pd.RangeIndex(start=1, stop=101, name='Sr. No.'),
        columns =['Brand_Name','Product Description', 'Price'])

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 100 sneakers data from Flipkart is:\n")
data

First 100 sneakers data from Flipkart is:

### Q8: Go to webpage https://www.amazon.in/. Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [135]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#Go to Flipkart webpage by url: https://www.amazon.in/

driver.get("https://www.amazon.in/")

In [136]:
# Lets enter Laptop in the search field and then click the search icon.

des= driver.find_element(By.XPATH, "/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
des.send_keys("Laptop")

In [137]:
# click the search button

search= driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [138]:
# select cpu filter

cpu_filter_i7 = driver.find_element(By.XPATH,'//li[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
cpu_filter_i7.click()

In [139]:
#Scrap the required data

title=[]
ratings=[]
price=[]

In [140]:
#title of the laptops

#title_tags= driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
title_tags = driver.find_elements(By.XPATH,"//span[@class='a-size-medium a-color-base a-text-normal']")
for i in title_tags[0:10]:
    x= i.text
    title.append(x)
title

['MSI Modern 14, Intel i7-1195G7, 14" FHD IPS-Level 60Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Nvidia MX450 2GB Graphics/Carbon Grey/1.3Kg), B11SBU-688IN',
 'Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 15.6" (39.62cm) FHD IPS Thin & Light Laptop (16GB/512GB SSD/Windows 11/Office 2021/Backlit/FPR/3months Game Pass/Storm Grey/1.85Kg), 82SF008WIN',
 'ASUS TUF Dash F15 (2022), 15.6-inch (39.62 cms) WQHD 165Hz/3ms, Intel Core i7-12650H 12th Gen, RTX 3070 8GB Graphics, Gaming Laptop (16GB/1TB SSD/Windows 11/Office 2021/Black/2 kg), FX517ZR-HQ030WS',
 'HP Victus 12th Gen Intel Core i7 15.6 inch(39.6 cm) FHD Gaming Laptop (8GB RAM/512GB SSD/RTX 3050 4GB Graphics/144Hz/9ms Response Time/Win 11/MSO/Backlit KB/B&O Audio/Alexa/Xbox Pass), 15-fa0073TX',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6"(39.62 cm)FHD Thin and Light Laptop (16GB/512GB SSD/Windows 11 Home/MS Office H&S 2021/Iris® Xe Graphics/Backlit/Mineral Grey/1.7 Kg) 20VE00W4IH',
 'ASUS TUF Gaming F15 (2022), 15.6" (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, RTX 3050 Ti 4GB Graphics, Gaming Laptop (16GB/512GB SSD/Windows 11/Gray/2.2 kg), FX577ZE-HN056W',
 'DELL Alienware x14 Gaming Laptop, Intel i7-12700H, 14 “(35.5cm) FHD 144Hz 400nits GSYNC+ Advanced Optimus,32GB DDR5, 1TB SSD, Nvidia RTX 3060 6GB, Dolby Atmos, Lunar Light (1.84 kgs) D569939WIN9',
 'HP Pavilion x360 11th Gen Intel Core i7 14 inch(35.6 cm) FHD,IPS, Multitouch 2-in-1 Laptop(16GB RAM/512GB SSD/Backlit KB/Intel Iris Xe Graphics/Pen/Alexa Built-in/MSO/1.52Kg) 14-dy1050TU, Spruce Blue',
 'Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 14 inches FHD IPS 2-in-1 Touchscreen Business Laptop (16GB/512GB SSD/Windows 10/MS Office/Digital Pen/Fingerprint Reader/Slate Grey/1.43Kg), 82BH004HIN',
 'ASUS VivoBook K15 OLED (2021), 15.6-inch FHD OLED, Intel Core i7-1165G7 11th Gen, Thin and Light Laptop (16GB/512GB SSD/Iris Xe Graphics/Office 2021/Windows 11/Indie Black/1.8 Kg) K513EA-L712WS']

In [141]:
#ratings 
rating_tags=driver.find_elements(By.XPATH,"//a[@class='a-popover-trigger a-declarative']")

for i in rating_tags[0:10]:
    if i.text is None:
        ratings.append("--")
    else:
        ratings.append(i.get_attribute("text"))

In [142]:
ratings

['3.5 out of 5 stars',
 '4.3 out of 5 stars',
 '5.0 out of 5 stars',
 '4.1 out of 5 stars',
 '4.3 out of 5 stars',
 '4.1 out of 5 stars',
 '3.8 out of 5 stars',
 '4.2 out of 5 stars',
 '4.4 out of 5 stars',
 '4.1 out of 5 stars']

In [143]:
#prices of the laptops

price_tags=driver.find_elements(By.XPATH,"//span[@class='a-price-whole']")
for i in price_tags[0:10]:
    x= i.text
    price.append(x)
price

['54,990',
 '82,990',
 '1,60,999',
 '90,990',
 '80,990',
 '1,07,990',
 '2,00,490',
 '81,990',
 '1,06,999',
 '82,990']

In [144]:
# Creating DataFrame of first 10 scrapped data

list_data= list(zip(title, ratings, price))

data= pd.DataFrame( list_data,
        index=pd.RangeIndex(start=1, stop=11, name='Sr. No.'),
        columns =['Title_of_Laptop', 'Ratings', 'Price'])

data = data.style.set_properties(**{'text-align': 'right'})

#Print the required data

print ("First 10 laptop's data from Amazon is:\n\n")
data

First 10 laptop's data from Amazon is:

### Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. 
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [2]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#Go to Flipkart webpage by url:  https://www.ambitionbox.com/

driver.get(" https://www.ambitionbox.com/")

In [3]:
# closing login popup window
popup_close = driver.find_element(By.XPATH,'/html/body/div/div/div/div[4]/div/div/button/i')
popup_close.click()

In [5]:
# Click on the Job option

job_click = driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[5]/a')
job_click.click()

In [7]:
# Enter “Data Scientist” in “Search by Designations, Companies, Skills” 

des = driver.find_element(By.XPATH, "/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")

des.send_keys("Data Scientist")

In [8]:
# click search button from webpage

search = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button')

search.click()

In [9]:
# put filter location and click it

loc = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]')

loc.click()

In [10]:
# enter "noida" in place of “Search location” 

name_loc = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
name_loc.send_keys("Noida")

In [11]:
# locate the noida options from the drop down and click

get_city = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
get_city.click()

In [14]:
#Scrap the required data Brand, Product Description, Price

job_title=[]
company=[]
url=[]
ratings = []

In [15]:
# Scraping first 10 job title from the given page

job_tags = driver.find_elements(By.XPATH,'//a[@class="title noclick"]') 
for i in job_tags[0:10]:
    x= i.text
    job_title.append(x)
    
# Scraping first 10 compay name from the given page

com_tags = driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in com_tags[0:10]:
    x= i.text
    company.append(x)
    
# Scraping first 10 url from the given page

url_tags = driver.find_elements(By.XPATH,'//a[@class="title noclick"]')
for i in url_tags[0:10]:
    x= i.get_attribute("href")
    url.append(x)
    
# Scraping first 10 ratings from the given page

rating_tags= driver.find_elements(By.XPATH,'//span[@class="body-small"]') 
for i in rating_tags:
    x= i.text
    ratings.append(x)

In [16]:
print(len(job_title), len(company), len(url), len(ratings))

10 10 10 10

In [17]:
# Creating DataFrame to store the required field of first 10 data

data_list = list(zip(job_title,company,ratings, url))

data= pd.DataFrame(data_list, 
    columns =['Job_Title', 'Company_Name','Ratings','Corrosponding_URL'],
    index=pd.RangeIndex(start=1, stop=11, name='Sr. No.'))

#print the outcomes

print ("First 10 Data Scientist jobs data using Noida location from Ambitionbox.com is:\n")
data

First 10 Data Scientist jobs data using Noida location from Ambitionbox.com is:

,Job_Title,Company_Name,Ratings,Corrosponding_URL
Sr. No.,,,,
1,Quality Engineer,Optum Global Solutions (India) Private Limited,4.1,https://www.ambitionbox.com/jobs/optum-jobs?ri...
2,Data Scientist- SAS Analyst,BARCLAYS GLOBAL SERVICE CENTRE PRIVATE LIMITED,4.3,https://www.ambitionbox.com/jobs/barclays-shar...
3,EY GDS - Data Scientist (10-20 yrs),EY GDS,3.8,https://www.ambitionbox.com/jobs/ernst-young-j...
4,Data Scientist,GLOBALLOGIC INDIA PRIVATE LIMITED,4.0,https://www.ambitionbox.com/jobs/globallogic-j...
5,Hiring For Genpact-Data Scientist- Forecasting...,GENPACT India Private Limited,4.0,https://www.ambitionbox.com/jobs/genpact-jobs?...
6,Genpact - Data Scientist - Forecasting/Python/...,Genpact,4.0,https://www.ambitionbox.com/jobs/genpact-jobs?...
7,Data Scientist,Ericsson India Global Services Pvt. Ltd.,4.3,https://www.ambitionbox.com/jobs/ericsson-jobs...
8,Data Scientist - Machine Learning Algorithms (...,Dew Solutions Pvt. Ltd.,4.3,https://www.ambitionbox.com/jobs/dew-solutions...
9,Data Scientist,One97 Communications Limited,3.8,https://www.ambitionbox.com/jobs/paytm-jobs?ri...
10,EY - Data Engineer - Data Integration/Modeling...,EY,3.8,https://www.ambitionbox.com/jobs/ernst-young-j...

### Q10: Write a python program to scrape the salary data for Data Scientist designation. You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 

The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [9]:
#Lets first connect to the driver

driver= webdriver.Chrome(r"chromedriver.exe")

#Go to ambitionbox webpage by url:  https://www.ambitionbox.com/

driver.get("https://www.ambitionbox.com/")

In [10]:
# click to close popup window

popup = driver.find_element(By.XPATH,'/html/body/div/div/div/div[4]/div/div/button')

popup.click()

In [11]:
# Click on the salaries option

sal_click = driver.find_element(By.XPATH,'/html/body/div/div/div/div[1]/header/nav/ul/li[3]')

sal_click.click()

In [12]:
# click the browse salaries button 

browse_sal = driver.find_element(By.PARTIAL_LINK_TEXT, 'Salaries')

browse_sal.click()

In [13]:
# Enters “Data Scientist” in place of “Search Job Profile” 

data_sc= driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')

data_sc.send_keys('Data Scientist')

In [ ]:
# click the on “Data Scientist”

data_sc_click = driver.find_element(By.XPATH,'/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p')

data_sc_click.click()

In [17]:
#Scrap the company name, total salary record, average salary, minimum salary, maximum salary, experience required

company=[]
total_salary=[]
avg_salary=[]
min_salary=[]
max_salary=[]
exp=[]

In [18]:
# Scrape the data for the first 10 companies

#to get company name

company_tags = driver.find_elements(By.XPATH,'//a[@data-v-4c07f399]')
for i in company_tags:
    x= i.text
    company.append(x.replace('\nData Scientist Salary'," "))

#to get company name

tol_sal_tags = driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in tol_sal_tags:
    x= i.text[10:12]
    total_salary.append(x)
    
#to get avg salary

avg_sal = driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_sal:
    x= i.text
    avg_salary.append(x)

#to get minimum salary

min_sal_tags = driver.find_elements(By.XPATH,'//div[@class="salary-values"]')
for i in min_sal_tags:
    x= i.text
    min_salary.append(x.split('\n')[0])

#to get maximum salary

max_sal_tags = driver.find_elements(By.XPATH,'//div[@class="salary-values"]')
for i in max_sal_tags:
    x= i.text
    max_salary.append(x.split('\n')[1].strip())
    
#to get experience

exp_tags = driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in exp_tags:
    x= i.text
    exp.append(x.split('e')[0])

In [19]:
print(len(company), len(total_salary), len(avg_salary), len(min_salary), len(max_salary), len(exp))

10 10 10 10 10 10

In [20]:
# Creating DataFrame to store the required field of first 10 data

data_list = list(zip(company,total_salary,avg_salary, min_salary,max_salary,exp))

data= pd.DataFrame(data_list, 
    columns =['Company Name', 'Total Salary','Average Salary','Minimum Salary','Maximum Salary', 'Experixence'],
    index=pd.RangeIndex(start=1, stop=11, name='Sr. No.'))

#print the outcomes

print ("First 10 Data Scientist salary data for from Ambitionbox.com is:\n\n")
data

First 10 Data Scientist salary data for from Ambitionbox.com is:

,Company Name,Total Salary,Average Salary,Minimum Salary,Maximum Salary,Experixence
Sr. No.,,,,,,
1,Walmart,23,₹ 32.3L,₹ 25.0L,₹ 45.0L,3-4 yrs
2,Ab Inbev,57,₹ 19.9L,₹ 15.0L,₹ 26.0L,2-4 yrs
3,Optum,49,₹ 16.4L,₹ 11.0L,₹ 22.6L,2-4 yrs
4,ZS,34,₹ 15.8L,₹ 11.0L,₹ 22.0L,1-2 yrs
5,Fractal Analytics,11,₹ 15.4L,₹ 9.0L,₹ 23.0L,2-4 yrs
6,Tiger Analytics,68,₹ 14.7L,₹ 9.0L,₹ 20.0L,2-4 yrs
7,Sigmoid Analytics,10,₹ 14.7L,₹ 12.7L,₹ 19.7L,1 yr
8,Legato Health Technologies,11,₹ 14.5L,₹ 11.0L,₹ 20.0L,4 yrs
9,HSBC,10,₹ 14.0L,₹ 12.0L,₹ 18.0L,4 yrs
10,Tredence,14,₹ 13.9L,₹ 8.8L,₹ 17.5L,3 yrs