# Webscraping Assignment 1

### Submitted by Tamali Saha

## 1) Write a python program to display all the header tags from wikipedia.org.

In [34]:
import requests
from bs4 import BeautifulSoup

In [35]:
request = requests.get('https://en.wikipedia.org/wiki/Main_Page')
Soup = BeautifulSoup(request.text, 'lxml')
heading_tags = ["h1", "h2", "h3",'h4','h5','h6']
for tags in Soup.find_all(heading_tags):
    print(tags.name + ' -> ' + tags.text.strip())

h1 -> Main Page
h1 -> Welcome to Wikipedia
h2 -> From today's featured article
h2 -> Did you know ...
h2 -> In the news
h2 -> On this day
h2 -> From today's featured list
h2 -> Today's featured picture
h2 -> Other areas of Wikipedia
h2 -> Wikipedia's sister projects
h2 -> Wikipedia languages
h2 -> Navigation menu
h3 -> Personal tools
h3 -> Namespaces
h3 -> Views
h3 -> Search
h3 -> Navigation
h3 -> Contribute
h3 -> Tools
h3 -> Print/export
h3 -> In other projects
h3 -> Languages

## 2)Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [36]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url="https://www.imdb.com/chart/top/"
page = requests.get(url)
# display the page content
soup= BeautifulSoup(page.content, "html.parser")

#scrap and parse movie names

scrapped_movies= soup.find_all("td",class_="titleColumn")
movies=[]
for i in scrapped_movies:
    i= i.a.text.replace('\n',"").strip(" ")
    movies.append(i)
    
#scrap and parse year

scrapped_years= soup.find_all("td",class_="titleColumn")
years=[]
for i in scrapped_years:
    i= i.span.text.strip('()')
    years.append(i)
    
#scrap and parse ratings

scrapped_ratings= soup.find_all("td",class_="ratingColumn imdbRating")
ratings=[]
for i in scrapped_ratings:
    ratings.append(i.get_text().replace('\n',""))
    
# Store the scrapped data
data= pd.DataFrame()
data["Movie Name"]= movies
data["Ratings"]= ratings
data["Year"] = years
import numpy as np
x= np.arange(1,101,1)

# Final result of top 100 movies name, year and rating
top100_movies = data.head(100)

top100_movies= top100_movies.set_index(x)

top100_movies.to_csv("IDBM Top 100 movies.csv", index= False)
print( "IMDB’s Top rated 100 movies’ data \n")
top100_movies

IMDB’s Top rated 100 movies’ data

                            Movie Name Ratings  Year
1             The Shawshank Redemption     9.2  1994
2                        The Godfather     9.2  1972
3                      The Dark Knight     9.0  2008
4                The Godfather Part II     9.0  1974
5                         12 Angry Men     8.9  1957
..                                 ...     ...   ...
96                              Jagten     8.3  2012
97   M - Eine Stadt sucht einen Mörder     8.3  1931
98                  North by Northwest     8.3  1959
99                        Idi i smotri     8.2  1985
100                            Vertigo     8.2  1958

[100 rows x 3 columns]

## 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [37]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url="https://www.imdb.com/india/top-rated-indian-movies/"
page1 = requests.get(url)
soup= BeautifulSoup(page1.content, "html.parser")

#scrap and parse movie names

scrapped_movies= soup.find_all("td",class_="titleColumn")
movies=[]
for i in scrapped_movies:
    i= i.a.text.replace('\n',"").strip(" ")
    movies.append(i)
    
#scrap and parse ratings

scrapped_ratings= soup.find_all("td",class_="ratingColumn imdbRating")
ratings=[]
for i in scrapped_ratings:
    ratings.append(i.get_text().replace('\n',""))
    
#scrap and parse year

scrapped_years= soup.find_all("td",class_="titleColumn")
years=[]
for i in scrapped_years:
    i= i.span.text.strip('()')
    years.append(i)
    
# Store the scrapped data of top 100 indian movies
data= pd.DataFrame()
data["Movie Name"]= movies
data["Ratings"]= ratings
data["Year"] = years
import numpy as np
x= np.arange(1,101,1)

# Final result of top 100 movies name, year and rating

top100_indian_movies = data.head(100)

top100_indian_movies= top100_indian_movies.set_index(x)

top100_indian_movies.to_csv("IDBM Top 100 Indian movies.csv", index= False)
print( "IMDB’s Top rated 100 Indian movies’ data \n")
top100_indian_movies

IMDB’s Top rated 100 Indian movies’ data

                      Movie Name Ratings  Year
1     Rocketry: The Nambi Effect     8.5  2022
2                     Anbe Sivam     8.4  2003
3                        Golmaal     8.4  1979
4                        Nayakan     8.4  1987
5                       Jai Bhim     8.4  2021
..                           ...     ...   ...
96                        Angoor     8.0  1982
97               Rang De Basanti     8.0  2006
98                        Baasha     8.0  1995
99   Baahubali 2: The Conclusion     8.0  2017
100                    Virumandi     8.0  2004

[100 rows x 3 columns]

## 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [38]:
import requests, re
from bs4 import BeautifulSoup
import pandas as pd
url="https://presidentofindia.nic.in/former-presidents.htm"
page1 = requests.get(url)
soup= BeautifulSoup(page1.content, "html.parser")


#scrap and parse president names

scrapped_names= soup.find_all("div",class_="presidentListing")
name=[]
president_names=[]
for i in scrapped_names:
    i= i.h3.text
    name.append(i)
for i in name:
    string=re.sub("\(.*?\)","()",i).replace("()","")
    president_names.append(string)

#scrap and parse Term of office

scrapped_terms= soup.find_all("p")[:18]
terms=[]
Term_of_office=[]
for i in scrapped_terms:
    i= i.text.replace('\n',""). replace("Term of Office:", "")
    terms.append(i)
for i in terms:
    result = re.sub(r'http\S+',"", i)
    Term_of_office.append(result)
    Term_of_office= list(filter(None,Term_of_office))
    
#display
Presidentlist= pd.DataFrame()
Presidentlist["President Name"]= president_names
Presidentlist["Term of Office"]= Term_of_office
Presidentlist.to_csv("Formar Indian Presedent.csv", index= False)
print ("List of respected former presidents of India")
Presidentlist

List of respected former presidents of India

,President Name,Term of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

## 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [39]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url="https://www.icc-cricket.com/rankings/mens/team-rankings/odi"
page3 = requests.get(url)
soup= BeautifulSoup(page3.content, "html.parser")

In [40]:
#scrap and parse team name
team= soup.find_all("span",class_="u-hide-phablet")[:10]
teams=[]
for i in team:
    i= i.text
    teams.append(i)
teams

['New Zealand',
 'England',
 'India',
 'Pakistan',
 'Australia',
 'South Africa',
 'Bangladesh',
 'Sri Lanka',
 'West Indies',
 'Afghanistan']

In [41]:
##scrap and parse matches

matchhead = soup.find("td",class_="rankings-block__banner--matches")
ss= matchhead.text
jj= list(ss.split(" "))

m= soup.find_all("td",class_="table-body__cell u-center-text")
ms=[]
for i in m:
    i= i.text
    ms.append(i)
    
for j in range(0, len(ms)): 
    if j % 2== 0:
        jj.append(ms[j])
        
#we need to fetch top 10

top10_men_matches = jj[0:10]
top10_men_matches

['19', '27', '31', '22', '25', '21', '30', '29', '41', '18']

In [42]:
##scrap and parse points

pointhead = soup.find("td",class_="rankings-block__banner--points")
ss= pointhead.text
jj= list(ss.split(" "))

point= soup.find_all("td",class_="table-body__cell u-center-text")
points=[]

for i in point:
    i= i.text
    points.append(i)
    
for j in range(0, len(points)):
    if j % 2== 1:
        jj.append(points[j])
        
#we need to fetch top 10
top10_men_point = jj[0:10]
top10_men_point

['2,355',
 '3,226',
 '3,447',
 '2,354',
 '2,548',
 '2,111',
 '2,753',
 '2,658',
 '2,902',
 '1,238']

In [43]:
##scrap and parse rating

ratinghead = soup.find("td",class_="rankings-block__banner--rating u-text-right")
ss= ratinghead.text.replace('\n',"").strip()
jj= list(ss.split(" "))

point= soup.find_all("td",class_="table-body__cell u-text-right rating")
for i in point:
    i= i.text
    jj.append(i)
    
#we need to fetch top 10

top10_men_rating = jj[0:10]
top10_men_rating

['124', '119', '111', '107', '102', '101', '92', '92', '71', '69']

In [44]:
data= pd.DataFrame()
data["Team Name"]= teams
data["Top_Men_Matches"]= top10_men_matches
data["Top_Men_Points"]= top10_men_point
data["Top_Men_Rating"]= top10_men_rating

print ("Top 10 ODI teams in men’s cricket along with the records for matches, points and rating :\n ")
data

Top 10 ODI teams in men’s cricket along with the records for matches, points and rating :

      Team Name Top_Men_Matches Top_Men_Points Top_Men_Rating
0   New Zealand              19          2,355            124
1       England              27          3,226            119
2         India              31          3,447            111
3      Pakistan              22          2,354            107
4     Australia              25          2,548            102
5  South Africa              21          2,111            101
6    Bangladesh              30          2,753             92
7     Sri Lanka              29          2,658             92
8   West Indies              41          2,902             71
9   Afghanistan              18          1,238             69

## 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
b) Top 10 ODI Batsmen along with the records of their team and rating.

In [45]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting"
page4 = requests.get(url)
soup= BeautifulSoup(page4.content, "html.parser")

In [46]:
##scrap and parse batsman
playerhead = soup.find("div",class_="rankings-block__banner--name-large")
ss= playerhead.text
top_batsman= list(ss.split("\n "))

m= soup.find_all("td", class_="table-body__cell rankings-table__name name")

for i in m:
    i= i.text. replace("\n",'')
    top_batsman.append(i)
    
#we need to fetch top 10    
top10_batsman =top_batsman[0:10]
top10_batsman

['Babar Azam',
 'Rassie van der Dussen',
 'Quinton de Kock',
 'Imam-ul-Haq',
 'Virat Kohli',
 'Rohit Sharma',
 'David Warner',
 'Jonny Bairstow',
 'Ross Taylor',
 'Aaron Finch']

In [47]:
##scrap and parse teamname
teamhead = soup.find("div",class_="rankings-block__banner--nationality")
ss= teamhead.text.replace("\n", '')
teams= list(ss.split("\n "))

m= soup.find_all("span", class_="table-body__logo-text")

for i in m:
    i= i.text
    teams.append(i)
    
#we need to fetch top 10

top10_team =teams[0:10]
top10_team

['PAK', 'SA', 'SA', 'PAK', 'IND', 'IND', 'AUS', 'ENG', 'NZ', 'AUS']

In [48]:
##scrap and parse ratings
ratinghead = soup.find("div",class_="rankings-block__banner--rating")
ss= ratinghead.text.replace("\n", '')
ratings= list(ss.split("\n "))

m= soup.find_all("td", class_="table-body__cell rating")

for i in m:
    i= i.text
    ratings.append(i)
    
#we need to fetch top 10

top10_rating =ratings[0:10]
top10_rating

['890', '789', '784', '779', '744', '740', '739', '732', '722', '706']

In [50]:
data= pd.DataFrame()

data["Top_Men_Batsman"]= top10_batsman
data["Team"]= top10_team
data["Rating"]= top10_rating

print ("Top 10 ODI Batsmen along with the records of their team and rating :\n ")
data

Top 10 ODI Batsmen along with the records of their team and rating :

         Top_Men_Batsman Team Rating
0             Babar Azam  PAK    890
1  Rassie van der Dussen   SA    789
2        Quinton de Kock   SA    784
3            Imam-ul-Haq  PAK    779
4            Virat Kohli  IND    744
5           Rohit Sharma  IND    740
6           David Warner  AUS    739
7         Jonny Bairstow  ENG    732
8            Ross Taylor   NZ    722
9            Aaron Finch  AUS    706

## 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
c) Top 10 ODI bowlers along with the records of their team and rating.

In [51]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url="https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling"
page5 = requests.get(url)
soup= BeautifulSoup(page5.content, "html.parser")

##scrap and parse  bowlers
bowlerhead = soup.find("div",class_="rankings-block__banner--name-large")
ss= bowlerhead.text
top_bowler= list(ss.split("\n "))

m= soup.find_all("td", class_="table-body__cell rankings-table__name name")

for i in m:
    i= i.text. replace("\n",'')
    top_bowler.append(i)

#we need to fetch top 10    
top10_bowler =top_bowler[0:10]

##scrap and parse teamname
teamhead = soup.find("div",class_="rankings-block__banner--nationality")
ss= teamhead.text.replace("\n", '')
teams= list(ss.split("\n "))

m= soup.find_all("span", class_="table-body__logo-text")

for i in m:
    i= i.text
    teams.append(i)
    
#we need to fetch top 10

top10_team =teams[0:10]

##scrap and parse ratings
ratinghead = soup.find("div",class_="rankings-block__banner--rating")
ss= ratinghead.text.replace("\n", '')
ratings= list(ss.split("\n "))

m= soup.find_all("td", class_="table-body__cell rating")

for i in m:
    i= i.text
    ratings.append(i)
    
#we need to fetch top 10

top10_rating =ratings[0:10]

#display
data= pd.DataFrame()

data["Top_Men_Bowlers"]= top10_bowler
data["Team"]= top10_team
data["Rating"]= top10_rating

print ("Top 10 ODI bowlers along with the records of their team and rating :\n\n ")
data

Top 10 ODI bowlers along with the records of their team and rating :

     Top_Men_Bowlers Team Rating
0        Trent Boult   NZ    720
1     Josh Hazlewood  AUS    678
2   Mujeeb Ur Rahman  AFG    676
3     Jasprit Bumrah  IND    662
4     Shaheen Afridi  PAK    661
5      Mohammad Nabi  AFG    657
6       Mehedi Hasan  BAN    655
7        Rashid Khan  AFG    651
8         Matt Henry   NZ    644
9  Mustafizur Rahman  BAN    640

## 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [52]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url="https://www.icc-cricket.com/rankings/womens/team-rankings/odi"
page6 = requests.get(url)
soup= BeautifulSoup(page6.content, "html.parser")

#scrap and parse women's team name
team= soup.find_all("span",class_="u-hide-phablet")[:10]
women_teams=[]
for i in team:
    i= i.text
    women_teams.append(i)

##scrap and parse matches

matchhead = soup.find("td",class_="rankings-block__banner--matches")
ss= matchhead.text
jj= list(ss.split(" "))

m= soup.find_all("td",class_="table-body__cell u-center-text")
ms=[]
for i in m:
    i= i.text
    ms.append(i)
    
for j in range(0, len(ms)): 
    if j % 2== 0:
        jj.append(ms[j])
        
#we need to fetch top 10

top10_women_matches = jj[0:10]

##scrap and parse points

pointhead = soup.find("td",class_="rankings-block__banner--points")
ss= pointhead.text
jj= list(ss.split(" "))

point= soup.find_all("td",class_="table-body__cell u-center-text")
points=[]

for i in point:
    i= i.text
    points.append(i)
    
for j in range(0, len(points)):
    if j % 2== 1:
        jj.append(points[j])
        
#we need to fetch top 10
top10_women_point = jj[0:10]

##scrap and parse rating

ratinghead = soup.find("td",class_="rankings-block__banner--rating u-text-right")
ss= ratinghead.text.replace('\n',"").strip()
jj= list(ss.split(" "))

point= soup.find_all("td",class_="table-body__cell u-text-right rating")
for i in point:
    i= i.text
    jj.append(i)
    
#we need to fetch top 10

top10_women_rating = jj[0:10]

#display
data= pd.DataFrame()
data["Women's Team Name"]= women_teams
data["Matches"]= top10_women_matches
data["Points"]= top10_women_point
data["Rating"]= top10_women_rating

print ("Top 10 ODI teams in women’s cricket along with the records for matches, points and rating :\n \n")
data

Top 10 ODI teams in women’s cricket along with the records for matches, points and rating :

  Women's Team Name Matches Points Rating
0         Australia      29  4,837    167
1           England      33  4,046    123
2      South Africa      35  4,157    119
3             India      32  3,219    101
4       New Zealand      31  3,019     97
5       West Indies      30  2,768     92
6        Bangladesh      12    930     78
7          Pakistan      30  1,962     65
8           Ireland      11    516     47
9         Sri Lanka      11    495     45

## 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [53]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting"
page6 = requests.get(url)
soup= BeautifulSoup(page6.content, "html.parser")

##scrap and parse women batsman
playerhead = soup.find("div",class_="rankings-block__banner--name-large")
ss= playerhead.text
women_batsman= list(ss.split("\n "))

m= soup.find_all("td", class_="table-body__cell rankings-table__name name")

for i in m:
    i= i.text. replace("\n",'')
    women_batsman.append(i)
    
#we need to fetch top 10    
top10_women_batsman =women_batsman[0:10]


##scrap and parse teamname
teamhead = soup.find("div",class_="rankings-block__banner--nationality")
ss= teamhead.text.replace("\n", '')
teams= list(ss.split("\n "))

m= soup.find_all("span", class_="table-body__logo-text")

for i in m:
    i= i.text
    teams.append(i)
    
#we need to fetch top 10

top10_women_team =teams[0:10]


##scrap and parse ratings
ratinghead = soup.find("div",class_="rankings-block__banner--rating")
ss= ratinghead.text.replace("\n", '')
ratings= list(ss.split("\n "))

m= soup.find_all("td", class_="table-body__cell rating")

for i in m:
    i= i.text
    ratings.append(i)
    
#we need to fetch top 10

top10_women_rating =ratings[0:10]


#display

data= pd.DataFrame()
data["Top_Women_Batsman"]= top10_women_batsman
data["Team"]= top10_women_team
data["Rating"]= top10_women_rating

print ("Top 10 women’s ODI Batting players along with the records of their team and rating :\n \n ")
data

Top 10 women’s ODI Batting players along with the records of their team and rating :

     Top_Women_Batsman Team Rating
0         Alyssa Healy  AUS    785
1          Beth Mooney  AUS    749
2       Natalie Sciver  ENG    747
3      Laura Wolvaardt   SA    732
4          Meg Lanning  AUS    710
5       Rachael Haynes  AUS    701
6    Amy Satterthwaite   NZ    681
7       Tammy Beaumont  ENG    667
8  Chamari Athapaththu   SL    655
9      Smriti Mandhana  IND    649

## 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [55]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url="https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder"
page5 = requests.get(url)
soup= BeautifulSoup(page5.content, "html.parser")

##scrap and parse all rounder
allrounderhead = soup.find("div",class_="rankings-block__banner--name-large")
ss= allrounderhead.text
top_allrounder= list(ss.split("\n "))

m= soup.find_all("td", class_="table-body__cell rankings-table__name name")

for i in m:
    i= i.text. replace("\n",'')
    top_allrounder.append(i)

#we need to fetch top 10    
top10_allrounder =top_allrounder[0:10]

##scrap and parse teamname
teamhead = soup.find("div",class_="rankings-block__banner--nationality")
ss= teamhead.text.replace("\n", '')
teams= list(ss.split("\n "))

m= soup.find_all("span", class_="table-body__logo-text")

for i in m:
    i= i.text
    teams.append(i)
    
#we need to fetch top 10

top10_allrounder_team =teams[0:10]

##scrap and parse ratings
ratinghead = soup.find("div",class_="rankings-block__banner--rating")
ss= ratinghead.text.replace("\n", '')
ratings= list(ss.split("\n "))

m= soup.find_all("td", class_="table-body__cell rating")

for i in m:
    i= i.text
    ratings.append(i)
    
#we need to fetch top 10

top10_allrounder_rating =ratings[0:10]

#display
data= pd.DataFrame()

data["Top_Women_Allrounder"]= top10_allrounder
data["Team"]= top10_allrounder_team
data["Rating"]= top10_allrounder_rating

print ("Top 10 women’s ODI all-rounder along with the records of their team and rating :\n\n ")
data

Top 10 women’s ODI all-rounder along with the records of their team and rating :

  Top_Women_Allrounder Team Rating
0       Natalie Sciver  ENG    379
1         Ellyse Perry  AUS    374
2       Marizanne Kapp   SA    349
3      Hayley Matthews   WI    339
4          Amelia Kerr   NZ    336
5     Ashleigh Gardner  AUS    270
6        Deepti Sharma  IND    252
7        Jess Jonassen  AUS    246
8      Katherine Brunt  ENG    220
9      Stafanie Taylor   WI    207

## 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
i) Headline
ii) Time
iii) News Link

In [56]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
url= "https://www.cnbc.com/world/?region=world"
page= requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

##scrap and parse headlines

headline = soup.find_all('a', class_= "LatestNews-headline")
headlines=[]
for i in headline:
    i= i.text.strip()
    headlines.append(i)
    
##scrap and parse link

link = soup.find_all('a', class_= "LatestNews-headline")
links=[]
for i in link:
    links.append(i.get('href'))
    
##scrap and parse time

time= soup.find_all("time")
times=[]
for i in time:
    times.append(i.text)

#display

data= pd.DataFrame()
data["Headline"]= headlines
data["Time"]= times
data["News Link"]= links
data.to_csv("News_CNBC.csv", index= False)
print ("News details from https://www.cnbc.com : ")
data

News details from https://www.cnbc.com :

,Headline,Time,News Link
0,Low vol ETFs are beating the market this year....,31 Min Ago,https://www.cnbc.com/2022/09/02/low-vol-etfs-a...
1,Fox News personalities face questioning as Dom...,55 Min Ago,https://www.cnbc.com/2022/09/02/fox-news-perso...
2,GM offers to buy out Buick dealers that don't ...,1 Hour Ago,https://www.cnbc.com/2022/09/02/gm-offers-to-b...
3,VR partnership with Meta is another way Qualco...,1 Hour Ago,https://www.cnbc.com/2022/09/02/virtual-realit...
4,August jobs report shows declining labor force...,1 Hour Ago,https://www.cnbc.com/2022/09/02/august-jobs-re...
5,Stocks making the biggest moves midday: Kohl's...,1 Hour Ago,https://www.cnbc.com/2022/09/02/stocks-making-...
6,BA.5 Covid boosters could come as soon as Labo...,1 Hour Ago,https://www.cnbc.com/2022/09/02/-omicron-covid...
7,Huawei spin-off Honor to launch first foldable...,1 Hour Ago,https://www.cnbc.com/2022/09/02/honor-launches...
8,'Why shouldn't it be as bad as the 1970s?': Ni...,1 Hour Ago,https://www.cnbc.com/2022/09/02/1970s-inflatio...
9,NYC sues Starbucks for coffee chain's firing o...,2 Hours Ago,https://www.cnbc.com/2022/09/02/nyc-sues-starb...
10,White House fires back at Republican plan to c...,2 Hours Ago,https://www.cnbc.com/2022/09/02/white-house-sl...
11,"Student loan forgiveness could result in a $2,...",2 Hours Ago,https://www.cnbc.com/2022/09/02/student-loan-f...
12,"Crypto prices are down, but it's not scaring a...",2 Hours Ago,https://www.cnbc.com/2022/09/02/crypto-winter-...
13,August jobs report shows a 'soft landing' by t...,2 Hours Ago,https://www.cnbc.com/2022/09/02/august-jobs-re...
14,"Cathie Wood doubles down on Nvidia, Innovation...",2 Hours Ago,https://www.cnbc.com/2022/09/02/cathie-woods-a...
15,Four dozen empty folders marked 'CLASSIFIED' f...,3 Hours Ago,https://www.cnbc.com/2022/09/02/trump-fbi-raid...
16,How surviving cancer changed this 34-year-old'...,3 Hours Ago,https://www.cnbc.com/2022/09/02/how-cancer-cha...
17,Starbucks CEO transition plan gets muted react...,3 Hours Ago,https://www.cnbc.com/2022/09/02/starbucks-ceo-...
18,A fitness trainer shares the 7 stretches she d...,3 Hours Ago,https://www.cnbc.com/2022/09/02/a-fitness-trai...
19,Here's where the jobs are for August 2022 — in...,3 Hours Ago,https://www.cnbc.com/2022/09/02/heres-where-th...
20,Consider seeking shelter in dividend growers o...,3 Hours Ago,https://www.cnbc.com/2022/09/02/consider-seeki...
21,"31-year-old makes $15,000/mo recording voiceov...",3 Hours Ago,https://www.cnbc.com/2022/09/02/millennial-qui...
22,Stiglitz says there are 3 reasons why Fed hike...,3 Hours Ago,https://www.cnbc.com/2022/09/02/joseph-stiglit...
23,1 in 5 home sellers is now dropping their aski...,3 Hours Ago,https://www.cnbc.com/2022/09/02/more-home-sell...
24,These are the top 10 safest countries for solo...,3 Hours Ago,https://www.cnbc.com/2022/09/02/top-10-safest-...
25,"No, McDonald's all-day breakfast isn't returni...",4 Hours Ago,https://www.cnbc.com/2022/09/02/no-mcdonalds-a...
26,"Ford's new vehicle sales slow in August, in li...",4 Hours Ago,https://www.cnbc.com/2022/09/02/fords-new-vehi...
27,G-7 nations back plan to cap Russian oil price...,4 Hours Ago,https://www.cnbc.com/2022/09/02/g-7-nations-ba...
28,A fashion company wants to buy your pumpkin sp...,4 Hours Ago,https://www.cnbc.com/2022/09/02/fashion-retail...
29,Interest rates for high-yield savings accounts...,4 Hours Ago,https://www.cnbc.com/2022/09/02/high-yield-sav...

## 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details :
i) Paper Title 
ii) Authors
iii) Published Date 
iv) Paper URL

In [57]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
url="https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles"
page = requests.get(url)
page

In [58]:
soup= BeautifulSoup(page.content, "html.parser")
paper_title=[]
authors= []
published_date=[]
paper_url=[]

## scrap and parse title
title= soup.find_all('h2', class_= "sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR")
for i in title:
    paper_title.append(i.text.strip())

## scrap and parse author

author = soup.find_all("span", class_= "sc-1w3fpd7-0 pgLAT")
for i in author:
    authors.append(i.text.strip())

## scrap and parse published_date

date = soup.find_all("span", class_= "sc-1thf9ly-2 bKddwo")
for i in date:
    published_date.append(i.text.strip())

## scrap and parse url

urls= soup.find_all('li', class_= "sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp" )
for i in urls:
    paper_url.append(i.a['href'])
    
#Display

data= pd.DataFrame()
data["Paper_Title"] = paper_title
data["Authors"] = authors
data["Published_Date"] = published_date
data["Paper_URL"]= paper_url

data.to_csv("top 90 books.csv", index= False)
print ("the details of most downloaded articles from AI in last 90 days:")
data

the details of most downloaded articles from AI in last 90 days:

,Paper_Title,Authors,Published_Date,Paper_URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

## 9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name
ii) Cuisine
iii) Location 
iv) Ratings
v) Image URL

In [59]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
url="https://www.dineout.co.in/kolkata-restaurants"
page = requests.get(url)
soup= BeautifulSoup(page.content, "html.parser")

## scrap and parse name

names=[]
name= soup.find_all("div",class_= "restnt-info cursor")
for i in name:
    names.append(i.a.text)

## scrap and parse location

location= []
loc= soup.find_all("div",class_="restnt-loc ellipsis")
for i in loc:
    location.append(i.text)

## scrap and parse cuisine
    
cuisine= []
cou= soup.find_all("div",{'class':"detail-info"})
for i in cou:
    i= i.span.get_text().split("|")[1]
    cuisine.append(i)

## scrap and parse ratings   

ratings= []
rat= soup.find_all("div",class_={"restnt-rating rating-4","restnt-rating rating-5"})
for i in rat:
    ratings.append(i.text)    

## scrap and parse url
    
url=[]
u= soup.find_all("div",attrs= {"class":"img cursor" })
for i in u:
    url.append(i.img["data-src"])
    
#display

data= pd.DataFrame()
data["Restaurant name"] = names
data["Cuisine"] = cuisine
data["Location"] = location
data["Ratings"] = ratings
data[" Image URL"]= url

data.to_csv("Restaurants_details.csv", index= False)

print ("Scrape mentioned details of restaurants of Kolkata from dineout.co.in: ")
data

Scrape mentioned details of restaurants of Kolkata from dineout.co.in:

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,Pawan Putra,"Chinese, North Indian, Continental","Kankurgachhi, East Kolkata",4.2,https://im1.dineout.co.in/images/uploads/resta...
1,Zobet,"Modern Indian, Sushi, Fast Food, Asian","Fort Knox Mall,Camac Street, Central Kolkata",4.4,https://im1.dineout.co.in/images/uploads/resta...
2,Jungle Safari,"North Indian, Italian","Mani Square,Kankurgachhi, East Kolkata",4.3,https://im1.dineout.co.in/images/uploads/resta...
3,Caafe 360 Degree,"Fast Food, Chinese, Italian","Kankurgachhi, East Kolkata",4.5,https://im1.dineout.co.in/images/uploads/resta...
4,Fly Kouzina,"North Indian, Chinese, Continental","Salt Lake, East Kolkata",4.4,https://im1.dineout.co.in/images/uploads/resta...
5,Zaairah,"North Indian, Chinese, Italian","Salt Lake, East Kolkata",4.2,https://im1.dineout.co.in/images/uploads/resta...
6,Goofys Cafe,"North Indian, Chinese, Italian, Continental, ...","Maniktala, North Kolkata",4.4,https://im1.dineout.co.in/images/uploads/resta...
7,Flame & Grill,"North Indian, Bengali","Mani Square,Kankurgachhi, East Kolkata",4.3,https://im1.dineout.co.in/images/uploads/resta...
8,K Local,"Finger Food, North Indian, Fast Food","City Centre 1,Salt Lake, East Kolkata",4,https://im1.dineout.co.in/images/uploads/resta...
9,Danish Restaurant,"Mughlai, North Indian","Machuabazar, North Kolkata",4.4,https://im1.dineout.co.in/images/uploads/resta...
10,Fantastic Food Story,"Chinese, North Indian, Continental","Hati Bagan, North Kolkata",4.3,https://im1.dineout.co.in/images/uploads/resta...
11,Huff N Puff,"Chinese, Fast Food, Continental, Pizza, North...","Phool Bagan, North Kolkata",4.8,https://im1.dineout.co.in/images/uploads/resta...
12,Haka,Chinese,"Mani Square,Kankurgachhi, East Kolkata",4.2,https://im1.dineout.co.in/images/uploads/resta...
13,Uno Pizzeria & Grill,"American, Italian, Continental","Kankurgachhi, East Kolkata",4.4,https://im1.dineout.co.in/images/uploads/resta...
14,The Tunnel,"Chinese, North Indian, Continental","Kankurgachhi, East Kolkata",4.2,https://im1.dineout.co.in/images/uploads/resta...
15,The Bikers Cafe,"Continental, Italian, North Indian","Platinum Mall,Elgin Road, South Kolkata",4.3,https://im1.dineout.co.in/images/uploads/resta...
16,The Sugarr and Spice,Desserts,"Maniktala, North Kolkata",3.5,https://im1.dineout.co.in/images/uploads/resta...
17,Go Green,"Italian, North Indian, Chinese","Kankurgachhi, East Kolkata",4.2,https://im1.dineout.co.in/images/uploads/resta...
18,The Loop Cafe and Restaurant,"Italian, Chinese, Fast Food, Mexican","Kankurgachhi, East Kolkata",4.3,https://im1.dineout.co.in/images/uploads/resta...
19,Monginis,"Desserts, Fast Food","Kankurgachhi, East Kolkata",4.5,https://im1.dineout.co.in/images/uploads/resta...
20,Calcutta 64,"Continental, Italian, Beverages, Fast Food","Salt Lake, East Kolkata",4.4,https://im1.dineout.co.in/images/uploads/resta...

## 10) Write a python program to scrape the details of top publications from Google Scholar from https://scholar.google.com/citations?view_op=top_venues&hl=en
i) Rank 
ii) Publication
iii) h5-index
iv) h5-median

In [60]:
from bs4 import BeautifulSoup
import pandas as pd
import requests
url="https://scholar.google.com/citations?view_op=top_venues&hl=en"
page = requests.get(url)
soup= BeautifulSoup(page.content, "html.parser")
ranks=[]
publication= []
h5index= []
h5median= []

## scrap and parse rank
rank= soup.find_all("td",class_= "gsc_mvt_p")
for i in rank:
    ranks.append(i.text)
    
## scrap and parse publication

pub= soup.find_all("td",class_= "gsc_mvt_t")
for i in pub:
    publication.append(i.text.strip())
    
h5= soup.find_all("td",class_= "gsc_mvt_n")
h5im=[]
for i in h5:
    h5im.append(i.text.strip())

## scrap and parse h5 index

for j in range(0, len(h5im)): 
    if j % 2== 0:
        h5index.append(h5im[j])

## scrap and parse h5 median

for j in range(0, len(h5im)): 
    if j % 2== 1:
        h5median.append(h5im[j])
        
#Display

data= pd.DataFrame()
data["Rank"] = ranks
data["Publication"] = publication
data["h5-index"] = h5index
data["h5-median"]= h5median

print("The details of top publications from Google Scholar : \n")
data

The details of top publications from Google Scholar :

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]